.idea
/firmware_flash/*
!/firmware_flash/NodeMCU_Erase.bat
!/firmware_flash/NodeMCU_Write
!/firmware_flash/NodeMCU_Write.bat
!/firmware_flash/NodeMCU_Erase
!/firmware_flash/README.md
/LuaSrcDiet-0.12.1/

pins
/wifi_credentials.lua
/broker_ip.lua

/upload/*
!/upload/upload.py
!/upload/README.md
!/upload/example_project_mqtt_client_oled/
!/upload/example_project_mqtt_client_temp/
!/upload/lib/README.md
!/upload/configs
/upload/configs/*

/minimized/
/UsefulCodes.md
